In [3]:
#comprehension expression

l1=[i for i in range(0,26,5)]
l1

[0, 5, 10, 15, 20, 25]

In [4]:
l2=[i+i for i in range(0,26,5)]
l2

[0, 10, 20, 30, 40, 50]

In [6]:
import pandas as pd

In [7]:
sr1=pd.Series([n for n in range(0,26,5)])
sr1

0     0
1     5
2    10
3    15
4    20
5    25
dtype: int64

In [9]:
#no negative indexing 

sr1[-1]

KeyError: -1

In [10]:
sr1[::-1]

#retrives data in reverse order

5    25
4    20
3    15
2    10
1     5
0     0
dtype: int64

In [11]:
sr1.iloc[-1]

25

In [12]:
sr1.iloc[1]

5

In [13]:
df3=pd.DataFrame(
    {
        'emp_no':[1,2,3,4,5,6,7,8],
        'emp_name':['ravi','kiran','srilu','sanjana','neha','bhavana','basu','subbu'],
        'job':['Developer','Tester','DevOps','Frontend','Backend','Fullstack','Tester','Tester']
    }
    
)
df3

   emp_no emp_name        job
0       1     ravi  Developer
1       2    kiran     Tester
2       3    srilu     DevOps
3       4  sanjana   Frontend
4       5     neha    Backend
5       6  bhavana  Fullstack
6       7     basu     Tester
7       8    subbu     Tester

In [14]:
df3['emp_no']

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
Name: emp_no, dtype: int64

In [15]:
df3['emp_name']

0       ravi
1      kiran
2      srilu
3    sanjana
4       neha
5    bhavana
6       basu
7      subbu
Name: emp_name, dtype: object

In [16]:
df3['emp_name'][2:5]

2      srilu
3    sanjana
4       neha
Name: emp_name, dtype: object

In [17]:
df3.iloc[3]

emp_no             4
emp_name     sanjana
job         Frontend
Name: 3, dtype: object